services:
  mongodb:
    image: mongodb/mongodb-community-server
    container_name: mongodb
    ports:
      - "27017:27017"
    volumes:
      - ./mongo-init.js:/init.js:ro
      - mongodb:/data/db
    environment:
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_NAME: ${DB_NAME}
    command: > # start once with no auth to create an admin, then run with auth
      bash -c "
        echo 'Starting Mongo WITHOUT auth...';
        mongod --bind_ip_all --fork --logpath /data/db/mongodb.log;
        until mongosh --eval 'db.runCommand({ ping: 1 })' >/dev/null 2>&1; do sleep 1; done;

        echo 'Creating admin user...';
        mongosh admin < /init.js;

        echo 'Restarting Mongo WITH auth...';
        mongod --shutdown;
        exec mongod --bind_ip_all --auth;
      "
volumes:
  mongodb: